@inject HttpClient Http

<p>Are you sure? This operation cannot be undone. Would you like to proceed?</p>
<span class="d-flex gap-2">
    <button class="btn btn-danger" @onclick="@YesAsync">Delete Account</button>
    <button class="btn btn-primary" @onclick="@NoAsync">Cancel</button>
</span>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public int Id { get; set; }

    private async Task YesAsync()
    {
        await Http.DeleteAsync($"account?id={Id}", CancellationToken.None);

        await BlazoredModal.CloseAsync();
    }

    private async Task NoAsync()
    {
        await BlazoredModal.CloseAsync();
    }

}