@inject HttpClient Http

<p>Are you sure? This operation cannot be undone. Would you like to proceed?</p>
<span class="d-flex gap-2">
    <button class="btn btn-danger" @onclick="@YesAsync">Delete Category</button>
    <button class="btn btn-primary" @onclick="@NoAsync">Cancel</button>
</span>

@code {
    [Parameter] public int Id { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task YesAsync()
    {
        await Http.DeleteAsync($"category?id={Id}", CancellationToken.None);
        await BlazoredModal.CloseAsync();
    }

    private async Task NoAsync()
    {
        await BlazoredModal.CloseAsync();
    }

}