@inherits HeaderComponentBase

<div class="d-flex justify-content-between py-3">
    <h3>@HeaderText</h3>
    <button @onclick="@(OnClickHandler)" class="btn btn-primary">@ActionButtonText</button>
</div>